#box{
    background-color: green;
    height: 100px;
    width:100px;
    border:2px solid black;
    margin: 100px 50Px;
    border-radius:100px 0px 100px 0px;
}
h1{
    color:green;

}
h1{
    color:red;
}